@model IEnumerable<EmprestimosFacilitados.Models.TipoEmprestimo>

@{
    ViewData["Title"] = "Tipo de Empréstimo";
}

<h1>Tipo de Empréstimo</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Novo Tipo de Empréstimo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeMeses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Juros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeMeses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Juros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoEmprestimoId"><button type="button" class="btn btn-success">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.TipoEmprestimoId"><button type="button" class="btn btn-secondary">Detalhes</button></a> |
                <a asp-action="Delete" asp-route-id="@item.TipoEmprestimoId"><button type="button" class="btn btn-danger">Deletar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
