@model EmprestimosFacilitados.Models.MeuEmprestimo

@{
    ViewData["Title"] = "Detalhes do Empréstimo";
}

<h1>Detalhes do Empréstimo</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorEmprestado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorEmprestado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorTotalQueSerapago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorTotalQueSerapago)
        </dd>
        <dt class = "col-sm-2">
            Valor Pago
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPago)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Empréstimo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoEmprestimo.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdParcelasPagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdParcelasPagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEmprestimoQuitado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEmprestimoQuitado)
        </dd>
    </dl>
</div>
<div>
     <a asp-action="Edit" asp-route-id="@Model?.MeuEmprestimoId"><button type="button" class="btn btn-success">Editar</button></a> 
    <a asp-action="Index"><button type="button" class="btn btn-secondary">Voltar</button></a>
</div>
