@model IEnumerable<EmprestimosFacilitados.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1>Clientes</h1>

<p>
    
    <a asp-action="Create"><button type="button" class="btn btn-primary">Novo cliente</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                E-mail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RendaMensal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RendaMensal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId" ><button type="button" class="btn btn-success">Editar </button></a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId"><button type="button" class="btn btn-secondary">Detalhes</button></a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId"> <button type="button" class="btn btn-danger">Deletar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
